/*cuerpo de la pagina web*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /*background-color: #f4f4f9;*/
    background-image: url('img/fondo1.jfif');
    background-size: cover; /* Para que la imagen cubra toda la pantalla */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat;
}

/*encabezado*/ 
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #004080;
    color: white;
    position:fixed;
    width: 100%;
    height: 10%;
    top: 0;
    z-index: 1000;
}

.logo {
    display: flex;
    align-items: center;
    padding: 10px;
}

.logo img {
    height: 50px;
    margin-right: 10px;
}

.nombre-empresa {
    font-size: 1.5em;
    font-weight: bold;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    position: relative;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    display: block;
}

nav ul li a:hover,
nav ul li a:focus {
    background-color: #30659b;
}

nav ul .submenu {
    display: block;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #004080;
    list-style: none;
    padding: 0;
    margin: 0;
    min-width: 200px;
}

nav ul .submenu li a {
    padding: 10px 15px;
}

nav ul .submenu li a:hover,
nav ul .submenu li a:focus {
    background-color: #30659b;
}

.menu-item:hover .submenu,
.menu-item:focus-within .submenu {
    display: block;
}

.main-content {
    padding: 20px;
}

.img-container {
    display: flex;
    justify-content: center;
    padding: 40px ;
    margin-top: 20px;
    top:60%
}
/*efecto de imagen*/
.img-contenedor:hover .imagen 
{-webkit-transform:scale(1.3);transform:scale(1.3);}


.logo-img {
    width: 100%;
    max-width: 900px;
    height: auto;
}
/* texto de la pagina*/
.section {
    margin-bottom: 10px;
}

.section h2 {
    color: #004080;
    border-bottom: 2px solid #004080;
    padding-bottom: 10px;
}

.section p {
    line-height: 1.4;
}

/*texto de la pagina web*/
.section {
    display: flex;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 95%;
    margin: auto;
}
.left {
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    position: relative;
}
.left img {
    width: 95%;
    height: auto;
    object-fit: cover;
    position: center;
    top: 20px;
    left: 20px;
}

.right {
    padding: 20px;
    flex: 2;
}
.right p {
    margin-bottom: 20px;
    color: #333;
}
.right p.blue {
    color: #007bff;
    font-weight: bold;
}
.right p.gray {
    color: #999;
}

/*pie de pagina*/
footer {
    background-color: #062E57;
    color: white;
    text-align: center;
    padding: 1em;
    
    width: 100%;
    bottom: 0;
}
