body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #004080;
    color: white;
    position:fixed;
    width: 100%;
    height: 10%;
    top: 0;
    z-index: 1000;
}

.logo {
    display: flex;
    align-items: center;
    padding: 10px;
}

.logo img {
    height: 50px;
    margin-right: 10px;
}

.nombre-empresa {
    font-size: 1.5em;
    font-weight: bold;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    position: relative;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    display: block;
}

nav ul li a:hover,
nav ul li a:focus {
    background-color: #062E57;
}

nav ul .submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #062E57;
    list-style: none;
    padding: 0;
    margin: 0;
    min-width: 200px;
}

nav ul .submenu li a {
    padding: 10px 15px;
}

nav ul .submenu li a:hover,
nav ul .submenu li a:focus {
    background-color: #062E57;
}

.menu-item:hover .submenu,
.menu-item:focus-within .submenu {
    display: block;
}

.main-content {
    padding: 20px;
}

.img-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    padding: 70px 15px;
}

.logo-img {
    width: 100%;
    max-width: 800px;
    height: auto;
}

/*.section {
    margin-bottom: 40px;
}

.section h2 {
    color: #004080;
    border-bottom: 2px solid #004080;
    padding-bottom: 10px;
}

.section p {
    line-height: 1.6;
}*/

footer {
    background-color: #062E57;
    color: white;
    text-align: center;
    padding: 1em;
    
    width: 100%;
    bottom: 0;
}
