body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    background-image: url('img/fondo1.jfif');
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #004080;
    color: white;
    position:fixed;
    width: 100%;
    height: 10%;
    top: 0;
    z-index: 1000;
}

.logo {
    display: flex;
    align-items: center;
    padding: 10px;
}

.logo img {
    height: 50px;
    margin-right: 10px;
}

.nombre-empresa {
    font-size: 1.5em;
    font-weight: bold;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    position: relative;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    display: block;
}

nav ul li a:hover,
nav ul li a:focus {
    background-color: #30659b;
}

nav ul .submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #004080;
    list-style: none;
    padding: 0;
    margin: 0;
    min-width: 200px;
}

nav ul .submenu li a {
    padding: 10px 15px;
}

nav ul .submenu li a:hover,
nav ul .submenu li a:focus {
    background-color: #30659b;
}

.menu-item:hover .submenu,
.menu-item:focus-within .submenu {
    display: block;
}

.main-content {
    padding: 20px;
}

.img-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    padding: 70px 15px;
}

.logo-img {
    width: 100%;
    max-width: 800px;
    height: auto;
}

/*texto de la pagina*/
.general{
    margin-top: 100px;
}

.section {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    max-width: 1000px;
}
.section p{
    text-align: center;
}

.section h2 {
    color: #0056b3; /* Color azul */
    text-align: center;
    border-bottom: 2px solid #0056b3;
    display: inline-block;
    margin-bottom: 20px;
    position: relative;
}

.section h2::after {
    content: '';
    width: 50px;
    height: 4px;
    background-color: #0056b3;
    display: block;
    margin: 10px auto 0;
    text-align: center;
}

.section ul {
    list-style-type: none;
    padding: 0;
}

.section ul li {
    margin: 15px 0;
    position: relative;
    padding-left: 30px;
    text-align: justify;
}

.section ul li::before {
    content: '♦';
    color: #0056b3; /* Color azul */
    position: absolute;
    left: 0;
    top: 0;
    font-size: 1.2em;
}

@media (max-width: 768px) {
    .section {
        width: 90%;
    }
}


/*Pie de pagina*/
footer {
    background-color: #062E57;
    color: white;
    text-align: center;
    padding: 1em;
    
    width: 100%;
    bottom: 0;
}
